<div class="holidays-page">
  <div class="holiday-grid">
    @for (holiday of holidays(); track holiday.date) {
      <article class="holiday-tile">
        <div class="date-box" aria-hidden="true">
          <span class="month">
            {{ holiday.date | date: 'MMM' | uppercase }}
          </span>
          <strong>{{ holiday.date | date: 'dd' }}</strong>
        </div>
        <div class="holiday-info">
          <h3>{{ holiday.name }}</h3>
          <time [attr.datetime]="holiday.date">
            {{ holiday.date | date: 'EEEE, MMMM d, y' }}
          </time>
        </div>
      </article>
    }
  </div>
</div>
