<div class="sidebar">
  <div class="sidebar-brand-icon">
    <img src="/assets/logo.png" alt="Logo" width="70" height="70" />
    <h2>HRMS site</h2>
  </div>

  <mat-divider></mat-divider>

  <nav class="sidebar-nav">
    @for (item of items; track $index) {
      <a
        mat-button
        class="nav-item"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
      </a>
    }
  </nav>

  <div class="sidebar-footer">
    <mat-divider></mat-divider>

    <button mat-button class="nav-item">
      <mat-icon> help_outline </mat-icon>

      <span> Help &amp; Support </span>
    </button>
  </div>
</div>
