<mat-card class="balance-card">
  <div class="balance-header">
    <div
      class="balance-icon"
      [style.color]="theme"
      [style.background]="'color-mix(in srgb, ' + theme + ' 15%, white)'"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </div>

    <div>
      <span class="balance-title">{{ title?.TITLE }}</span>
      <span class="balance-subtitle">{{ title?.CAPTION }}</span>
    </div>
  </div>

  <div class="balance-value">
    <strong>{{ progressbar.usedValue }}</strong>

    <span>
      / {{ progressbar.totalValue }}
      {{ text.USED }}
    </span>
  </div>

  <div class="progress-track">
    <div
      class="progress-bar"
      [style.width.%]="percentageCalculator"
      [style.background]="theme"
    ></div>
  </div>

  <div class="balance-footer">
    <span> {{ progressbar.totalValue-progressbar.usedValue }} {{title?.TITLE}} {{ text.REMAINING }} </span>
  </div>
</mat-card>
