<div class="tab-content">
  <mat-card class="history-card">
    <div class="history-list">
      @for (item of history(); track item.name + item.date) {
        <div class="history-row">
          <div class="history-badge">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <div class="history-details">
            <strong>{{ item.name }}</strong>
            <span>{{ item.description }}</span>
          </div>
          <span class="history-date">{{ item.date }}</span>
        </div>
      } @empty {
        <div class="empty-history">{{ BADGES.NO_BADGES }}</div>
      }
    </div>
  </mat-card>
</div>
